h1 {
    text-align: center;
}

.side-nav {
    height: 350px;
    background-color: #383838;
    color: white;
    width: 350px;
    display: inline-block;

    padding-left: 25px;
    padding-top: 25px;
}
.side-nav a {
    display: block;
    font-size: 25px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.side-nav a:hover {
    color: darkgray;
}

.side-nav .dropdown a {
    font-size: 15px;
}

.main-body {
    width: calc(100% - 400px);
    display: inline-block;
    padding-left: 10px;
    background-color: #ddd;
    vertical-align: top;
}

.main-body h2 {
    text-align: center;
}

.main-body img {
    width: 50%;
    margin: auto;
    display: block;
}

.main-body a {
    color: blue;
    cursor: pointer;
}
