@font-face {
    font-family: 'jaappokki';
    src: url('./fonts/jaapokki-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/jaapokki-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/jaapokki-regular.woff') format('woff'), /* Super Modern Browsers */
         url('./fonts/jaapokki-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/jaapokki-regular.svg') format('svg'); /* Legacy iOS */
  }

body{
    background-color: black;
    color: white;
    font-family: 'jaappokki';
}
h2{
    font-weight: normal;
}
h3{
    font-weight: normal;
}

hr{
    border-style: dashed;
}

.mobile{
    display: none;
}

.pc{
    display:none;
}

a:visited{
    color:white;
}
a{
    text-decoration: none;
}
.side-nav{
    width: 20%;
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;
}

.side-nav .logo{
    width: 150px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.side-nav ul{
    list-style-type: none;
    font-size: 14px;
}

.side-nav ul li{
    cursor: pointer;
    margin-bottom: 10px;
    color: #999;
    transition: all .3s ease-in-out;
}

.side-nav ul li .line{
    width: 25px;
    height: 5px;
    background-color: #999;
    vertical-align: middle;
    display: inline-block;
    border-radius:2px;
    margin:5px;

    transition: all .3s ease-in-out;
}
.side-nav ul li.active .line{
    width: 35px;
    background-color: white;
}
.side-nav ul li.active{
    color: white;
}

.side-nav ul li:hover .line{
    width: 35px;
    background-color: white;
}
.side-nav ul li:hover{
    color: white;
}

.side-nav ul li a{
    color: white;
    text-decoration: none;
}

.top-bar{
    position: fixed;
    top:0;
    width: 100%;
    height: 50px;
    background-color: black;
    padding-bottom: 10px;
    border-bottom: 1px dashed white;
}
.download-icon{
    width: 25px;
    height: 25px;
    background-image: url('./img/download-circular-button.png');
    background-size: cover;
    display: inline-block;
    margin-right: 25px;
    vertical-align: middle;
}
.footer{
    padding-bottom: 25px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px dashed white;
    padding-top:20px;
}

.footer a{
    margin-left: 10%;
    width: 80%;
    display: inline-block;

}

.body {
    margin-top: 150px;
    width: 70%;
    display: inline-block;

    background-color: black;
    overflow-y: scroll;
    height: 80vh;
    padding-bottom:150px;
}
.body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: black;
}
.body::-webkit-scrollbar
{
  width: 12px;
  background-color: transparent;
}

.body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: white;
}

.body .body-wrapper{

}

.body video{
    width: 100%;
}

.body .get-it{
    border-left: 5px solid white;
    padding-left: 10px;
    margin-bottom:75px;
}

.body .get-it .links a{
    width: 150px;
    height: 50px;
    display: inline-block;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}

.android-link{
    background-image: url('./img/google-play.png');
}

.ios-link{
    background-image: url('./img/ios.png');
}
.body h3{
    display: inline-block;
}
.social-media{
    width: 100%;
    height: 50px;
    vertical-align: middle;
}
.social-media-icon{
    width: 35px;
    height: 35px;
    margin:5px;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}
.social-media-icon.mail{
    background-image: url(./img/email.png);
}
.social-media-icon.facebook{
    background-image: url(./img/facebook.png);
}
.social-media-icon.instagram{
    background-image: url(./img/instagram.png);
}
.social-media-icon.linkedin{
    background-image: url(./img/linkedin.png);
}
.social-media-icon a{
    width: 35px;
    height: 35px;
    display: inline-block;
}

.body{
    scroll-behavior: smooth;
}

.body .profile{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-top: -100px;
}

.body .profile img{
    width: 100%;
}

.body p{
    text-align: justify;
}

.body .profile p{
    display: block;
    margin: auto;
    width: 60%;
}

.partner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.partner-wrapper img{
    width: 150px;
    padding: 15px;
}
img.main{
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .body p, .body h3, .body .social-media{
        width: 80%;
        margin: auto;
        display: block;
        margin-bottom: 25px;
    }

    .team-member img{
        display: inline-block;
        width: 30%;
        vertical-align: middle;
    }

    .team-member p{
        display: inline-block;
        width: 50%;
        vertical-align: middle;
    }

    .pc{
        display: block;
    }

    .col-3-pc{
        width:29%;
        display: inline-block;
        vertical-align: top;
    }
    .get-it{
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width: 800px) {
    .side-nav{
        display: none;
    }

    .body{
        width: 100%;
    }

    .body-wrapper{
        width: 80%;
        margin:auto;
    }

    .mobile{
        display: block;
    }

}