h1{
    text-align: left;
    font-size: 2em;
    line-height: 1em;
}
h2{
    font-weight: 100;
}

p{
    font-weight: 100;
}
.logo img{
    width: 90px;
    margin-left: calc(50% - 45px);
}

ul{
    padding-left: 20px;
}

.side-nav{
    width: 20%;
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;

    position: fixed;
    z-index: 100;
    top: 40%;
}

.side-nav ul{
    list-style-type: none;
    font-size: 14px;
}

.side-nav ul li{
    cursor: pointer;
    margin-bottom: 10px;
    color: #999;
    transition: all .3s ease-in-out;
}

.side-nav ul li .line{
    width: 25px;
    height: 5px;
    background-color: #999;
    vertical-align: middle;
    display: inline-block;
    border-radius:2px;
    margin:5px;

    transition: all .3s ease-in-out;
}
.side-nav ul li.active .line{
    width: 35px;
    background-color: white;
}
.side-nav ul li.active{
    color: white;
}

.side-nav ul li:hover .line{
    width: 35px;
    background-color: white;
}
.side-nav ul li:hover{
    color: white;
}

.side-nav ul li a{
    color: white;
    text-decoration: none;
}


.burger-menu{
    position: fixed;
    right: 5px;
    top: 5px;   

    z-index: 100;
    width: 50px;
}

.burger-menu button{
    background-color: transparent;
    border: none;
}

.burger-menu img{
    width: 100%;
}

#navigation-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;

    background-color: black;
}
#navigation-menu .close-but{
    position: absolute;
    right: 5px;
    top: 5px;
}

#navigation-menu .close-but button{
    font-size: 2em;
    background-color: transparent;
    color: white;
    border: none;
}

#navigation-menu ul{
  list-style-type: none;
  margin-top: 100px;
  text-align: center;
}
#navigation-menu ul li{
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

#navigation-menu ul li a{
    text-decoration: none;
}

section{
    text-align: center;
    position: relative;
}

a.small-link{
    border: none;
    text-decoration: underline;
    padding: 0;
}

a.small-link:hover{
    background-color:transparent;
    color: white;
}

section.title{
    min-height: 400px;
}

section.title a{
    margin-top: 10px;
    display: block;
    width: 250px;
}

section.title .left{
    width: 65%;
    min-width: 250px;
    display: inline-block;
    position: absolute;
    left: 0px;
    margin-top: 25px;
    z-index: 10;
}

section.title .right{
    width: 65%;
    display: inline-block;
    overflow: hidden;
    position: absolute;
    right: 0;
    
    height: 350px;
    border-radius: 35px;
}

section.title .right video{
    position: absolute;
    right: -230px;
    height: 625px;
    top: -170px;
    border-radius: 20px;
}

section.title .bottom{
    position: absolute;
    width: 50%;
    bottom: 0;
    text-align: left;
}

section.title .bottom .social-media{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

section.title .bottom .social-media .social-media-icon a{
    border: none;
}

section.title .bottom .social-media .social-media-icon a:hover{
    background-color:transparent;
    color: white;
}


.social-media-icon{
    width: 20%;
    max-width: 35px;
    margin:1%;
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}

.social-media .social-media-icon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: center;
}

.social-media-icon.mail{
    background-image: url(./img/email.png);
}
.social-media-icon.facebook{
    background-image: url(./img/facebook.png);
}
.social-media-icon.instagram{
    background-image: url(./img/instagram.png);
}
.social-media-icon.linkedin{
    background-image: url(./img/linkedin.png);
}
.social-media-icon a{
    width: 35px;
    height: 35px;
    display: inline-block;
}

.get-it .links{
    text-align: left;
}

.get-it .links a{
    width: 30%;
    height: 50px;
    display: inline-block;
    background-size: contain;
    margin: 5px;
    cursor: pointer;
    background-position-y: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;

    margin-top:0;
    padding-top:0;
}

.get-it .links a:hover{
    background-color:transparent;
    color: white;
}

.android-link{
    background-image: url('./img/google-play.png');
}

.ios-link{
    background-image: url('./img/ios.png');
}


#features .feature img{
    width: 90%;
    margin: auto;
}

#features .feature video{
    width: 100%;
    margin: auto;
    margin-left: 5%;
}

#offers .card{
    border: 2px solid white;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
    margin-top:25px;
    margin-bottom: 25px;
}

#offers .card h2{
    text-align: center;
}

#offers .card .submit{
    text-align: center;    
    margin-bottom: 25px;
    margin-top: 25px;
}

#offers .card .submit a{
    margin: 10px;
}

#offers .card p{
    text-align: justify;
}


#offers .card img{
    width: 50%;
    margin: auto;
    display: block;
    padding: 25px;
}

#team .team-member a{
    width: 75%;
    display: block;
    border: none;
    margin: auto;

    
    background-color:transparent;
    color: white;
}

#team .team-member a:hover{
    background-color:transparent;
    color: white;
}
#team .team-member a img{
    width: 100%;
    max-width: 200px;
}

#team .team-member p{
    text-align: justify;
}

.partner-wrapper{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}
.partner-wrapper img{
    width: 45%;
    padding: 2%;
    display: inline-block;
}

#back-to-top div img{
    width: 25px;
    transform: rotate(180deg);
    vertical-align: middle;
}

#back-to-top div{
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px dashed white;
}



@media only screen and (max-width: 800px) {
    .side-nav{
        display: none;
    }

    .content{
        overflow: hidden;
    }
    .pc{
        display: none;
    }
    
    section.title .right video{
        right: -415px;
    }

    section.title .right .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: 2;
    }
}
@media only screen and (min-width: 800px) {
    h1{
        font-size: 7em;
        line-height: 0.9em;
    }

    .welcome{
        padding-top:100px;
    }
    .logo.pc img{
        width: 50%;
        margin-left: 10px;
    }

    .logo.pc h1{
        font-size: 2em;
        text-align: left;
        padding-left: 20px;;
    }

    .mobile{
        display: none;
    }

    .content .wrapper{
        width: 70%;
        margin-left: 25%;
    }

    .logo{
        margin-bottom: 50px;
    }
    .logo img{
        width: 200px;
        margin-left: calc(50% - 100px);
    }

    section.title{
        width: 100%;
        margin: auto;
    }
    section.title .right{
        width: 50%;
        right: 10%;
    }

    section#get-it-mobile{
        width: 60%;
    }

    #features .feature{
        width: 28%;
        margin: auto;
        display: inline-block;
        vertical-align: top;
    }

    #features .feature img{
        border-radius: 20px;
    }

    #features .feature p{
        width: 100%;
        margin: auto;
        text-align: left;
    }

    #offers .card{
        width: 28%;
        margin-left: 1%;
        margin-right: 1%;
        display: inline-block;
        vertical-align: top;
        min-height: 900px;
        position: relative;
    }

    #offers .card .submit{
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
    }

    #offers .card p{
        padding-left: 20px;
    }


    #team .team-member{
        width: 47%;
        margin-left: 1%;
        margin-right: 1%;
        display: inline-block;
    }

    .partner-wrapper img{
        width: 10%;
    }

}